<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Birds by racheliff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
   <link rel='stylesheet prefetch' href='//codepen.io/assets/reset/reset.css'><link rel='stylesheet prefetch' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
 <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>-->
  	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="javascripts/main.js"></script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Birds</h1>
     
      <a href="https://github.com/racheliff/RacheliRepository" class="btn">View on GitHub</a>
      <a href="https://github.com/racheliff/RacheliRepository/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/racheliff/RacheliRepository/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content"><div ng-app="MyApp" ng-controller="DemoCtrl">

  <!--  <button ng-click="fetchUsers()">fetch some badass GitHub users data</button>-->
    <ul>
        <li ng-class="{odd: $odd}" ng-repeat="animale in animals">
            <img class="gravatar" ng-src="{{ animale.animaleGroup[0].imageUrl }}" />
            <img class="gravatar" ng-src="{{ animale.animaleGroup[1].imageUrl}}" />
            <img class="gravatar" ng-src="{{ animale.animaleGroup[2].imageUrl }}" />
            <img class="gravatar" ng-src="{{ animale.animaleGroup[3].imageUrl }}" />
           <!-- <b>{{ user.profile.login }}</b> ({{ user.profile.location }})
            <div class="event">{{ user.profile.events[0].type }} : {{ user.profile.events[0].repo.name }}</div>-->
        </li>
    </ul>
</div>
</section>

  
  </body>
</html>
